<div class="row " id="sortContainer">
  <div class="col-sm-4">
    <div class="bg-secondary p-2 text-center text-white">
    <div class="page-header ">
      <h1>All Memories</h1>
    </div>
    <div class="memories-container" style="overflow-y: scroll; height:400px;">
    </div>
  </div>
</div>
<div class="col-sm-4">
  <div class="bg-secondary p-2 text-center text-white">
    <div class="page-header ">
      <h1>2</h1>
    </div>
    <div class="connectedSortable" style="overflow-y: scroll; height:400px">
    </div>
  </div>
</div>
<div class="col-sm-4">
  <div class="bg-secondary p-2 text-center text-white">
    <div class="page-header ">
      <h1>3</h1>
    </div>
    <div class="connectedSortable" style="overflow-y: scroll; height:400px;">
    </div>
  </div>
</div>
</div>
