<div class="inventoryHolder card text-white bg-dark text-center">
  <div class="card-header">
    Memory
  </div>
  <div class="card-body pb-2">
    <ul id="memoryInventory"></ul>
    <button id="clearMemories" type="button" class="btn btn-warning btn-sm">
	  		Clear Memories
	  	</button>
    <button id="resetMemories" type="button" class="btn btn-warning btn-sm">
      <i class="fas fa-sync"></i>
      </button>
    <button id="debugMemories" type="button" class="btn btn-warning btn-sm" data-toggle="collapse" data-target="#debugMemoryDisplay" aria-expanded="false" aria-controls="debugMemoryDisplay">
      <i class="fas fa-stethoscope"></i>
      </button>

  </div>
  <div class="collapse" id="debugMemoryDisplay">
    <div class="card text-white bg-dark text-center">
      <div class="card-header">
        All Available Memories
      </div>
      <div class="card-body pb-2">
        <ul id="allAvailableMemories"></ul>
      </div>
    </div>
  </div>
</div>
