<nav class="navbar navbar-expand navbar-light">
	<a class="navbar-brand" href="{{site.baseurl}}/">
		<i class="fas fa-shield-alt"></i>
		Mirror World
	</a>

	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    	<span class="navbar-toggler-icon"></span>
  	</button>

	<div class="collapse navbar-collapse">
      	<div class="navbar-nav ml-auto">
      		<a class="nav-item nav-link" href={{ "/memories/" | absolute_url }}> Memories</a>
      		<a class="nav-item nav-link" href={{ "/characters/" | absolute_url}}>Characters</a>
      		<a class="nav-item nav-link" href={{ "/documentation/" | absolute_url}}>Documentation</a>

      	</div>
  	</div>
</nav>
